* {
    text-decoration: none;
    list-style: none;
    font-family: Roboto, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header-contacts {
    padding: 12px 0;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    text-align: right;
}

.header-contacts-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-contacts-item {
    margin-left: 20px;
}

.header-contacts-link {
    color: #424242;
    font-size: 15px;
    text-decoration: none;
}

.header-contacts-item .fas {
    display: inline-block;
    color: #404040;
    font-size: 18px;
    margin-right: 11px;
}

.header-social-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}

.header-facebook {
    background-color: #1287bf;
}

.nav-toggles {
    color: black;
}

.logo-nav {
    display: flex;
}

.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
}

.header-contacts-item {
    color: black;
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: #333333;
}



/*.nav-toggles-item {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*padding-right: 41px;*/
    /*font-family: Roboto;*/
    /*color: #424242;*/
    /*font-size: 15px; !* Приближение из-за подстановки шрифтов *!*/
    /*font-weight: 700;*/
    /*text-align: left;*/
/*}*/

/*.nav-toggles-item-form {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*.nav-toggles-item:hover {*/
    /*color: red;*/
/*}*/

/*a {*/
    /*display: inline-block;*/
/*}*/

/*.text-near-logo {*/
    /*color: #424242;*/
    /*font-size: 37px; !* Приближение из-за подстановки шрифтов *!*/
    /*font-weight: 700;*/
    /*padding-left: 10px;*/
    /*padding-right: 163px;*/
/*}*/

/*.nav-toggles-item-form {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: white;*/
    /*border-radius: 4px;*/
    /*background-color: #de2b24;*/
    /*width: 171px;*/
    /*height: 36px;*/
/*}*/

/*.logo-header {*/
    /*padding-right: 15px;*/
/*}*/

.header-logo {
    display: flex;
    align-items: center;
    width: 240px;
}

.header-logo p {
    padding-left: 12px;
    font-size: 15px;
}

.header-logo span {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.header-navigation {
    width: 1024px;
    height: 132px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-consultation-btn {
    width: 171px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(222, 43, 36);
    margin-top: 2px;
}

.navigation li {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    padding: 0 18px;
    position: relative;
}

.navigation li::after {
    content: "";
    position: absolute;
    background-color: rgb(66, 66, 66);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -3px;
    top: 5px;
}

.navigation a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.navigation a:hover {
    color: rgb(222, 43, 36);
}









.providing-block {
    background-image: url("../images/header-banner-providing.png");
    /*height: 1400px;*/
    height: 569px;
    background-size: cover;
    background-position: center;
}

.text-on-providing-block1 {
    display: flex;
    justify-content: center;
    padding-top: 166px;
    color: #ffffff;
    font-size: 48px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.text-on-providing-block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.free-consult {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8cd53;
    width: 330px;
    height: 69px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 23.76px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    transform: scaleY(1.01); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.about-us-title {
    padding-top: 123px;
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.about-us-under-title {
    padding-top: 6px;
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.palka {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    background-color: #424242;
    width: 47px;
    height: 5px;
    /*margin-bottom: 46px;*/
}

.images-block {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.text-under-images-block {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /*padding-top: 27px;*/
    font-family: Roboto, sans-serif;
    color: #424242;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /*text-align: left;*/
}

.text-in-under-images-block {
    padding-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #5c5c5c;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 143px;
}

.red-block {
    background-color: #de2b24;
    /*width: 1400px;*/
    height: 862px;
}

.our-work-in-red {
    padding-top: 103px;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.under-our-work-in-red {
    padding-top: 7px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.belaya-palka {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    background-color: white;
    width: 47px;
    height: 5px;
    margin-bottom: 46px;
}

.images-content-first-row {
    display: flex;
    justify-content: center;
}

.block-pink-in-images-content {
    /*display: flex;*/
    /*flex-direction: row;*/
    text-align: center;
    background-color: #f35e59;
    width: 255px;
    height: 253px;
}

.telegram-icon {
    padding-top: 75px;
}

.proj-name {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 26px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}

.under-proj-name {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
}

.block-in-images-content-camera {
    background-image: url("../images/our-work-camera.png");
    background-size: cover;
    background-position: center;
    width: 257px;
    height: 253px;
}

.block-in-images-content-tree {
    background-image: url("../images/our-work-tree-img.png");
    background-size: cover;
    background-position: center;
    width: 257px;
    height: 253px;
}

.images-content-second-row {
    display: flex;
    justify-content: center;
}

.block-in-images-content-bridge {
    background-image: url("../images/our-work-briege-img.png");
    background-size: cover;
    background-position: center;
    width: 257px;
    height: 253px;
}

.block-in-images-content-road-in-forest {
    background-image: url("../images/our-work-road-in-forest-img.png");
    background-size: cover;
    background-position: center;
    width: 257px;
    height: 253px;
}

.get-in-touch-block {
    background-color: #2a2a2a;
    /*width: 1400px;*/
    height: 490px;
}

.get-it-touch-title {
    padding-top: 83px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 29px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.container-for-get-in-items {
    width: 263px;
    margin: 0 auto;
}

.get-in-touch-links {
    display: flex;
    justify-content: space-between;
}

.link-items {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0);
    width: 48px;
    height: 46px;
}

.fab {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.link-items:hover {
    border-color: #de2b24;
}

.under-link-text {
    padding-top: 36px;
    font-family: Roboto, sans-serif;
    color: #cecece;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-bottom: 31px;
}

.input {
    padding-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515151;
    width: 683px;
    height: 54px;
    font-family: Roboto, sans-serif;
    color: #cecece;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #515151;
    /*width: 1400px;*/
    height: 67px;
}

.get-in-touch-subscribe {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;

}

.subscribe-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 22px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: #cecece;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 27px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}